---
apiVersion: v1
kind: ConfigMap
metadata:
  name: oauth2-proxy-common-config
data:
  # Override default _oauth2_proxy cookie name
  OAUTH2_PROXY_COOKIE_NAME: sso_sid
  OAUTH2_PROXY_CLIENT_ID: server
  # Provide public FQDN of IdP reacheable by the proxy and public client
  OAUTH2_PROXY_OIDC_ISSUER_URL: https://5328-118-189-149-221.ngrok.io/auth/realms/dev
  # To set domain to be 1-level higher to support dedicated auth domain name (see ingress-auth.yaml)
  OAUTH2_PROXY_COOKIE_DOMAINS: 127.0.0.1.nip.io
  # To set duration for token refresh (to set duration at most the validity of tokens)
  OAUTH2_PROXY_COOKIE_REFRESH: 5m
  OAUTH2_PROXY_COOKIE_SECURE: "false"
  # Important for cross-domain redirects
  OAUTH2_PROXY_WHITELIST_DOMAINS: .127.0.0.1.nip.io:*
---
apiVersion: v1
kind: Secret
metadata:
  name: oauth2-proxy-common-secrets
type: Opaque
stringData:
  OAUTH2_PROXY_CLIENT_SECRET: d1680bbb-24f3-4835-a0d9-2a7492a4cc99
  OAUTH2_PROXY_COOKIE_SECRET: MTExMTExMTExMTExMTExMQ==
